<div v-cloak id="products-convenio">
  <template v-if="isMobile">
    <div class="headline" style="max-width: 645px;">
      <h2 class="text-headline" style="font-size: 28px; line-height: 40px">
        <strong>Nuestros productos</strong>
      </h2>
      <h3 class="text-subheadline" style="font-size: 18px">
        Te invitamos a ser parte de un cambio positivo, conoce todos nuestros
        productos
      </h3>
    </div>

    <div ref="products" class="product-item-convenio" v-for="{ icon, title, description }, i in products">
      <button class="action-btn-products" @click="handleClick(i)">
        <img :src="`https://www.coopeuch.cl/media/wysiwyg/${icon}.png`" :alt="icon" />
        <h4>{{ title }}</h4>
      </button>

      <div class="content">
        <p>{{ description }}</p>
      </div>
    </div>
  </template>

  <section class="container-productos-tabs" v-else>
    <div class="headline" style="max-width: 645px;">
      <h2 class="text-headline" style="font-size: 28px; line-height: 40px">
        <strong>Nuestros productos</strong>
      </h2>
      <h3 class="text-subheadline" style="font-size: 18px">
        Te invitamos a ser parte de un cambio positivo, conoce todos nuestros
        productos
      </h3>
    </div>

    <div class="tabs-render">
      <div class="products-tabs-buttons">
        <template v-for="{ icon, title, description }, i in products">
          <button ref="products"  class="tablink" @click="selectTab(i)">
            <img :src="`https://www.coopeuch.cl/media/wysiwyg/${icon}.png`" :alt="icon" />
            <h4>{{ title }}</h4>
          </button>
        </template>
      </div>

      <div ref="contentTab" class="products-content-tab">
        <h2 style="font-family: 'Poppins semiBold';">{{ currentContent?.title }}</h2>
        <p>{{ currentContent?.description }}</p>
      </div>
    </div>
  </section>


  <figure class="bg-productos">
    <img src="https://www.coopeuch.cl/media/wysiwyg/bg-productos-mundo-conve.png" />
  </figure>
</div>

<script>
  require(['vue'], (Vue) => {
    'use strict';
    new Vue({
      el: '#products-convenio',
      data: {
        windowWidth: window.screen.width,
        currentContent: null,
        products: [
          {
            icon: 'airplane_copy',
            title: 'Cuenta Vista',
            description:
              'Acumula puntos que se pueden canjear por productos, servicios, etc.',
            expanded: true,
          },
          {
            icon: 'house',
            title: 'Crédito Hipotecario',
            description: 'Somos expertos en subsidio habitacional.',
            expanded: false,
          },
          {
            icon: 'money',
            title: 'Crédito de Consumo',
            description:
              'Descuento por planilla y atención de ejecutivos en lugar de trabajo. Aumenta tu remanente.',
            expanded: false,
          },
          {
            icon: 'credit-card',
            title: 'Tarjeta de Crédito',
            description:
              'Acumula puntos, suma al remanente y posee seguro de desgravamen gratuito.',
            expanded: false,
          },
          {
            icon: 'card-dale',
            title: 'Dale Prepago',
            description: 'Tarjeta de prepago virtual, obtenla sin papeleo.',
            expanded: false,
          },
          {
            icon: 'deposito',
            title: 'Depósito a Plazo',
            description:
              'Alternativa de inversión de corto o largo plazo, es un inversión segura y confiable. Define el monto y plazo a invertir.',
            expanded: false,
          },
          {
            icon: 'savings',
            title: 'Cuentas de Ahorro',
            description:
              'Sin costo de mantención ni comisiones. Entre otras destaca la cuenta de ahorro vivienda diseñada para postular al subsidio.',
            expanded: false,
          },
          {
            icon: 'savings',
            title: 'Abono Remuneración',
            description:
              'Obtén el abono de tu remuneración en tu Cuenta Vista Coopeuch y disfruta de increíbles beneficios.',
            expanded: false,
          },
        ],
      },
      mounted() {
        this.$nextTick(() => window.addEventListener('resize', () => (this.windowWidth = window.screen.width)));
        this.selectTab(0)
      },
      beforeDestroy() {
        window.removeEventListener('resize');
      },
      computed: {
        isMobile() {
          return this.windowWidth <= 580
        }
      },
      methods: {
        handleClick(i) {
          this.$refs.products[i].classList.toggle('expanded');
        },
        selectTab(i) {
          const { products, contentTab} = this.$refs
          products.map((item) => {
            item.classList.remove('current-tab')
            item.disabled = false
          })
          products[i].classList.add('current-tab')
          products[i].disabled = true
          contentTab.classList.add('fade-in')
          this.currentContent = this.products[i]
          setTimeout(() => contentTab.classList.remove('fade-in'), 500);
        }
      }
    });
  });
</script>

<style scoped>
  .p-relative {
    position: relative;
  }
  .fade-in {
    animation: fadeIn ease 1.1s;
    -webkit-animation: fadeIn ease 1.1s;
    -moz-animation: fadeIn ease 1.1s;
    -o-animation: fadeIn ease 1.1s;
    -ms-animation: fadeIn ease 1.1s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  [v-cloak] {
    display: none;
  }

  /* DESKTOP START */
  .container-productos-tabs {
    max-width: 900px;
    min-height: 647px;
    padding: 30px 0;
    background-color: #ffffff;
    border-bottom-right-radius: 60px;
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    left: 10px;
  }
  .bg-productos {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
  }
  .bg-productos img {
    display: none;
  }
  .products-tabs-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .products-tabs-buttons button {
    display: flex;
    align-items: center;
    box-shadow: none;
    background: #fff;
    border: 1px solid #fff;
    transition: all 0.6s ease;
    max-width: 287px;
    width: 100%;
    position: relative;
  }
  .products-tabs-buttons button:hover,
  .products-tabs-buttons button.current-tab {
    background-color: #f6f3f5;
    opacity: 1 !important;
  }
  .products-tabs-buttons button:hover::after,
  .products-tabs-buttons button.current-tab::after {
    content: url('https://www.coopeuch.cl/media/wysiwyg/arrow-right-black.svg');
    position: absolute;
    right: 10px;
    transition: all 0.6s ease;
  }

  .products-tabs-buttons button img {
    max-width: 32px;
    min-height: 32px;
    object-fit: contain;
  }
  .products-tabs-buttons button h4 {
    font-size: 18px;
    line-height: 27px;
    color: #383638;
    padding: 0 10px;
    margin: 0;
  }
  .products-tabs-buttons button:hover h4,
  .products-tabs-buttons button.current-tab h4 {
    font-family: 'Poppins bold';
  }
  .products-content-tab {
    max-width: 370px;
    align-self: center;
    margin: 10px 32px;
  }
  .tabs-render {
    display: flex;
  }
  @media screen and (min-width: 800px) {
    .bg-productos img {
      display: block;
      max-height: 647px;
    }
  }
  @media (min-width: 1180px) {
    .container-productos-tabs {
      left: calc((100% - 1170px) / 2);
    }
  }
  @media (min-width: 801.1px) and (max-width: 855px) {
    .container-productos-tabs {
      padding: 30px 50px;
    }
  }
  /* desktop END */

  /* MOBILE START */
  .product-item-convenio {
    padding: 0 15px;
    transition: all 0.3s ease-out;
  }
  .product-item-convenio.expanded {
    border-radius: 8px;
    background-color: #f6f3f5;
    padding: 15px 15px 20px;
    margin: 10px 0;
  }
  .product-item-convenio button.action-btn-products {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #00000000;
    width: 100%;
    box-shadow: none;
    outline: none;
    border: none;
    margin: 16px 0;
    padding: 0;
  }
  .product-item-convenio button.action-btn-products::after {
    content: url('https://www.coopeuch.cl/media/wysiwyg/arrow-right-black.svg');
    transform: rotate(88deg);
    position: absolute;
    right: 10px;
    transition: all 0.6s ease;
  }
  .product-item-convenio.expanded button.action-btn-products::after {
    transform: rotate(-88deg);
  }
  .product-item-convenio button.action-btn-products img {
    height: 32px;
    width: 32px;
    object-fit: contain;
  }
  .product-item-convenio button.action-btn-products h4 {
    font-size: 16px;
    line-height: 25px;
    color: #383638;
    max-height: 24px;
    max-width: 187px;
    margin: 0 25px;
  }
  .product-item-convenio.expanded button.action-btn-products h4 {
    font-family: 'Poppins bold';
  }
  .product-item-convenio .content {
    display: none;
    margin-left: 56px;
    min-height: 50px;
  }
  .product-item-convenio.expanded .content {
    display: block;
  }
  .product-item-convenio .content p {
    font-size: 14px;
    color: #848484;
    margin: 0;
  }
  /* MOBILE END */
</style>
